Repository DragonOS-Community/DragonOS, pull requests merged in 2024-11, with the labels that each got.

#1030 fix:修复阻塞读取eventfd时无法被中断的bug
  kernel/src/filesystem/eventfd.rs
Labels: Bug fix, S-等待审查, A-fs

#1032 fix(net): TCP Resources and add syscall print, change to use latest smoltcp
  kernel/Cargo.toml
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/arch/x86_64/syscall/nr.rs
  kernel/src/driver/net/e1000e/e1000e_driver.rs
  kernel/src/driver/net/loopback.rs
  kernel/src/driver/net/mod.rs
  kernel/src/driver/net/virtio_net.rs
  kernel/src/net/posix.rs
  kernel/src/net/socket/inet/common/mod.rs
  kernel/src/net/socket/inet/stream/inner.rs
  kernel/src/net/socket/inet/stream/mod.rs
  kernel/src/net/socket/inet/syscall.rs
Labels: Bug fix

#1034 fix(video): 增加了对frame buffer操作的安全检查
  kernel/src/driver/video/fbdev/base/mod.rs
  kernel/src/driver/video/fbdev/base/render_helper.rs
Labels: Bug fix

#1039 fix: do_signal函数在处理SIG_KILL时,有一处pcb强引用未归零的问题
  kernel/src/arch/x86_64/ipc/signal.rs
Labels: Bug fix

#1009 feat(pci): 解决了pci总线子系统中pci结构一致性问题，增加了pci设备的可读属性
  kernel/src/driver/disk/ahci/mod.rs
  kernel/src/driver/net/e1000e/e1000e.rs
  kernel/src/driver/pci/attr.rs
  kernel/src/driver/pci/device.rs
  kernel/src/driver/pci/pci.rs
  kernel/src/driver/pci/pci_irq.rs
  kernel/src/driver/pci/raw_device.rs
  kernel/src/driver/pci/test/pt_device.rs
  kernel/src/driver/virtio/transport.rs
  kernel/src/driver/virtio/transport_pci.rs
  kernel/src/driver/virtio/virtio.rs
Labels: enhancement, A-driver

#1042 fix: 修复了do execve 加载程序失败时,没能正确返回错误码给用户态的问题
  kernel/src/arch/riscv64/process/syscall.rs
  kernel/src/arch/x86_64/process/syscall.rs
  kernel/src/process/syscall.rs
Labels: Bug fix, O-x86_64, O-riscv64

#1043 修复tty信号处理相关问题
  kernel/src/driver/tty/tty_ldisc/ntty.rs
  kernel/src/process/fork.rs
  kernel/src/process/mod.rs
Labels: S-等待审查, A-driver, ambiguous

#1053 doc: 添加dadk文档的链接,并且修正namespace文档的一些问题
  docs/kernel/container/index.rst
  docs/kernel/container/namespaces/index.rst
  docs/kernel/container/namespaces/mnt_namespace.md
  docs/kernel/container/namespaces/pid_namespace.md
  docs/userland/appdev/index.rst
Labels: S-等待审查, T-doc

#1049 feat: update to new backtrace lib
  kernel/Cargo.toml
  kernel/Makefile
  kernel/src/Makefile
  kernel/src/arch/riscv64/link.ld
  kernel/src/arch/riscv64/riscv64gc-unknown-none-elf.json
  kernel/src/arch/riscv64/syscall/mod.rs
  kernel/src/arch/x86_64/link.lds
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/arch/x86_64/x86_64-unknown-none.json
  kernel/src/lib.rs
  kernel/src/syscall/mod.rs
Labels: enhancement, S-等待审查, O-x86_64, O-riscv64

#1037 fix(user): 修复clean ./user时出现参数过长的问题
  user/Makefile
  user/port/README.md
  user/port/binutils/2.38/.gitignore
  user/port/binutils/2.38/Dockerfile
  user/port/binutils/2.38/README.md
  user/port/binutils/2.38/build.sh
  user/port/binutils/2.38/run.sh
  user/port/build.sh
  user/port/flex/2.6.4/.gitignore
  user/port/flex/2.6.4/build.sh
  user/port/gcc/11.3.0/.gitignore
  user/port/gcc/11.3.0/build-hosted.sh
  user/port/gmp/6.2.1/build.sh
  user/port/mpc/1.2.1/build.sh
  user/port/mpfr/4.1.1/build.sh
  user/port/pkg-config.sh
Labels: Bug fix

#1056 fix(backtrace):Use more reasonable compile options
  kernel/Makefile
  kernel/crates/unified-init/Cargo.toml
  kernel/crates/unified-init/src/main.rs
  kernel/src/Makefile
  kernel/src/arch/riscv64/link.ld
  kernel/src/arch/riscv64/riscv64gc-unknown-none-elf.json
  kernel/src/arch/riscv64/syscall/mod.rs
  kernel/src/arch/x86_64/link.lds
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/arch/x86_64/x86_64-unknown-none.json
  kernel/src/debug/mod.rs
  kernel/src/debug/panic/hook.rs
  kernel/src/debug/panic/mod.rs
  kernel/src/lib.rs
  kernel/src/syscall/mod.rs
Labels: Bug fix, O-x86_64, O-riscv64

#1057 fix: 修正进程pcb的`on_cpu`字段未设置导致的panic问题
  kernel/src/process/mod.rs
  kernel/src/sched/clock.rs
  kernel/src/sched/cputime.rs
  kernel/src/sched/mod.rs
Labels: Bug fix, S-等待审查

#1061 fix:命名管道读行为不符合posix规范问题
  kernel/src/ipc/pipe.rs
  user/apps/test_fifo_write/Makefile
  user/apps/test_fifo_write/main.c
  user/dadk/config/test_fifo_write_0_1_0.toml
Labels: Bug fix, S-等待审查, A-IPC

#1066 fix:命名管道读行为不符合posix规范问题
  kernel/src/ipc/pipe.rs
  user/apps/test_fifo_write/Makefile
  user/apps/test_fifo_write/main.c
  user/dadk/config/test_fifo_write_0_1_0.toml
Labels: Bug fix
