Repository DragonOS-Community/DragonOS, pull requests merged in 2024-12, with the labels that each got.

#1069 fix: 解决进程退出时没有主动释放fdtable的问题
  kernel/src/process/mod.rs
Labels: Bug fix, S-等待审查

#1046 feat:添加sigprocmask系统调用
  kernel/src/arch/x86_64/ipc/signal.rs
  kernel/src/ipc/signal.rs
  kernel/src/ipc/syscall.rs
  kernel/src/net/event_poll/syscall.rs
  kernel/src/process/mod.rs
  kernel/src/syscall/mod.rs
  user/apps/test-sigprocmask/.gitignore
  user/apps/test-sigprocmask/Makefile
  user/apps/test-sigprocmask/main.c
  user/dadk/config/test_sigprocmask_0_1_0.toml
Labels: enhancement, S-等待审查, O-x86_64

#1075 feat(syscall): 实现syscall restart
  kernel/Cargo.toml
  kernel/crates/system_error/Cargo.toml
  kernel/crates/system_error/src/lib.rs
  kernel/src/arch/riscv64/ipc/signal.rs
  kernel/src/arch/riscv64/mod.rs
  kernel/src/arch/x86_64/asm/entry.S
  kernel/src/arch/x86_64/interrupt/mod.rs
  kernel/src/arch/x86_64/ipc/signal.rs
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/driver/tty/tty_device.rs
  kernel/src/driver/tty/tty_job_control.rs
  kernel/src/driver/tty/tty_ldisc/ntty.rs
  kernel/src/exception/entry.rs
  kernel/src/exception/mod.rs
  kernel/src/filesystem/eventfd.rs
  kernel/src/filesystem/vfs/file.rs
  kernel/src/ipc/pipe.rs
  kernel/src/ipc/signal.rs
  kernel/src/ipc/signal_types.rs
  kernel/src/ipc/syscall.rs
  kernel/src/process/mod.rs
  kernel/src/syscall/mod.rs
  user/apps/test-sigprocmask/main.c
  user/apps/test_signal_restart/.gitignore
  user/apps/test_signal_restart/Makefile
  user/apps/test_signal_restart/main.c
  user/dadk/config/test_signal_restart-0.1.0.toml
Labels: enhancement

#1076 chore: update docker image version in script && update doc
  docs/introduction/build_system.md
  docs/kernel/debug/debug-kernel-with-gdb.md
  docs/kernel/process_management/kthread.md
  docs/kernel/sched/cfs.md
  tools/build_in_docker.sh
Labels: T-doc
