Repository DragonOS-Community/DragonOS, pull requests merged in 2024-04, with the labels that each got.

#689 使nproc可以正确获取到cpu核心数
  kernel/src/filesystem/procfs/mod.rs
  kernel/src/libs/cpumask.rs
  kernel/src/smp/mod.rs
  kernel/src/smp/syscall.rs
  kernel/src/syscall/mod.rs
  user/Makefile
Labels: S-等待审查

#680 修复jiffy时钟过快问题，启用gettimeofday测试，修改mount测试
  kernel/src/Makefile
  kernel/src/arch/riscv64/time.rs
  kernel/src/arch/x86_64/driver/hpet.rs
  kernel/src/arch/x86_64/time.rs
  kernel/src/common/glib.h
  kernel/src/debug/klog/mm.rs
  kernel/src/driver/hid/hidparse.c
  kernel/src/include/bindings/wrapper.h
  kernel/src/libs/glib.c
  kernel/src/process/kthread.rs
  kernel/src/sched/completion.rs
  kernel/src/time/Makefile
  kernel/src/time/clocksource.c
  kernel/src/time/clocksource.h
  kernel/src/time/clocksource.rs
  kernel/src/time/jiffies.rs
  kernel/src/time/mod.rs
  kernel/src/time/timekeeping.rs
  kernel/src/time/timer.rs
  user/apps/test-mount/src/main.rs
  user/apps/test_gettimeofday/main.c
  user/dadk/config/test_mount_1_0_0.dadk
Labels: S-等待作者修改, O-x86_64, O-riscv64, T-driver

#685 实现pty，附带测试程序
  kernel/src/driver/base/device/device_number.rs
  kernel/src/driver/disk/ahci/ahci_inode.rs
  kernel/src/driver/input/ps2_mouse/ps_mouse_device.rs
  kernel/src/driver/keyboard/ps2_keyboard.rs
  kernel/src/driver/tty/kthread.rs
  kernel/src/driver/tty/mod.rs
  kernel/src/driver/tty/pty/mod.rs
  kernel/src/driver/tty/pty/unix98pty.rs
  kernel/src/driver/tty/tty_core.rs
  kernel/src/driver/tty/tty_device.rs
  kernel/src/driver/tty/tty_driver.rs
  kernel/src/driver/tty/tty_ldisc/mod.rs
  kernel/src/driver/tty/tty_ldisc/ntty.rs
  kernel/src/driver/tty/tty_port.rs
  kernel/src/driver/tty/virtual_terminal/mod.rs
  kernel/src/driver/tty/virtual_terminal/virtual_console.rs
  kernel/src/driver/video/fbdev/base/fbmem.rs
  kernel/src/filesystem/devfs/mod.rs
  kernel/src/filesystem/devfs/null_dev.rs
  kernel/src/filesystem/devfs/zero_dev.rs
  kernel/src/filesystem/devpts/mod.rs
  kernel/src/filesystem/fat/fs.rs
  kernel/src/filesystem/kernfs/mod.rs
  kernel/src/filesystem/mod.rs
  kernel/src/filesystem/procfs/mod.rs
  kernel/src/filesystem/ramfs/mod.rs
  kernel/src/filesystem/vfs/core.rs
  kernel/src/filesystem/vfs/file.rs
  kernel/src/filesystem/vfs/mod.rs
  kernel/src/filesystem/vfs/mount.rs
  kernel/src/filesystem/vfs/open.rs
  kernel/src/filesystem/vfs/syscall.rs
  kernel/src/filesystem/vfs/utils.rs
  kernel/src/ipc/pipe.rs
  kernel/src/ipc/syscall.rs
  kernel/src/libs/lib_ui/textui.rs
  kernel/src/libs/printk.rs
  kernel/src/libs/wait_queue.rs
  kernel/src/net/event_poll/mod.rs
  kernel/src/net/socket/mod.rs
  kernel/src/net/syscall.rs
  kernel/src/process/mod.rs
  kernel/src/syscall/mod.rs
  kernel/src/virt/kvm/kvm_dev.rs
  kernel/src/virt/kvm/vcpu_dev.rs
  kernel/src/virt/kvm/vm_dev.rs
  user/apps/test_pty/Makefile
  user/apps/test_pty/test_pty.c
  user/dadk/config/test_pty-0.1.0.dadk
Labels: S-等待作者修改, A-fs, T-virtulization, T-driver

#679 重写调度模块
  kernel/src/arch/x86_64/driver/apic/apic_timer.rs
  kernel/src/arch/x86_64/driver/apic/x2apic.rs
  kernel/src/arch/x86_64/interrupt/handle.rs
  kernel/src/arch/x86_64/interrupt/ipi.rs
  kernel/src/arch/x86_64/ipc/signal.rs
  kernel/src/arch/x86_64/process/idle.rs
  kernel/src/arch/x86_64/process/mod.rs
  kernel/src/arch/x86_64/sched.rs
  kernel/src/driver/tty/kthread.rs
  kernel/src/exception/ipi.rs
  kernel/src/exception/softirq.rs
  kernel/src/filesystem/procfs/mod.rs
  kernel/src/include/bindings/wrapper.h
  kernel/src/init/init.rs
  kernel/src/ipc/pipe.rs
  kernel/src/libs/futex/futex.rs
  kernel/src/libs/mutex.rs
  kernel/src/libs/rbtree.rs
  kernel/src/libs/spinlock.rs
  kernel/src/libs/wait_queue.rs
  kernel/src/net/event_poll/mod.rs
  kernel/src/net/socket/mod.rs
  kernel/src/process/exit.rs
  kernel/src/process/fork.rs
  kernel/src/process/idle.rs
  kernel/src/process/kthread.rs
  kernel/src/process/mod.rs
  kernel/src/sched/cfs.rs
  kernel/src/sched/clock.rs
  kernel/src/sched/core.rs
  kernel/src/sched/cputime.rs
  kernel/src/sched/fair.rs
  kernel/src/sched/idle.rs
  kernel/src/sched/mod.rs
  kernel/src/sched/pelt.rs
  kernel/src/sched/prio.rs
  kernel/src/sched/rt.rs
  kernel/src/sched/sched.h
  kernel/src/sched/syscall.rs
  kernel/src/syscall/mod.rs
  kernel/src/time/clocksource.rs
  kernel/src/time/jiffies.rs
  kernel/src/time/sleep.rs
  kernel/src/time/timer.rs
Labels: S-等待作者修改, A-sched, O-x86_64, O-riscv64, A-fs, T-driver

#699 riscv: 把内核编译target改为riscv64gc & 获取time csr的频率 & 修正浮点保存与恢复的汇编的问题
  .gitignore
  .vscode/settings.json
  build-scripts/kernel_build/src/cfiles/arch/riscv64.rs
  build-scripts/kernel_build/src/lib.rs
  docs/kernel/configuration/arch.md
  kernel/Makefile
  kernel/env.mk
  kernel/src/Makefile
  kernel/src/arch/riscv64/cpu.rs
  kernel/src/arch/riscv64/driver/mod.rs
  kernel/src/arch/riscv64/driver/of.rs
  kernel/src/arch/riscv64/init/mod.rs
  kernel/src/arch/riscv64/interrupt/handle.rs
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/arch/riscv64/riscv64imac-unknown-none-elf.json
  kernel/src/arch/riscv64/syscall/mod.rs
  kernel/src/arch/riscv64/time.rs
  kernel/src/arch/x86_64/mm/mod.rs
  kernel/src/arch/x86_64/time.rs
  kernel/src/driver/open_firmware/fdt.rs
  kernel/src/init/init.rs
  kernel/src/mm/init.rs
  kernel/src/mm/mmio_buddy.rs
  kernel/src/mm/mod.rs
  kernel/src/mm/page.rs
  kernel/src/process/mod.rs
  kernel/src/sched/clock.rs
Labels: S-等待审查, T-doc, O-x86_64, O-riscv64, T-driver

#682 Patch feat robust futex
  kernel/src/libs/futex/futex.rs
  kernel/src/libs/futex/syscall.rs
  kernel/src/process/mod.rs
  kernel/src/syscall/mod.rs
  user/apps/test-for-robustfutex/.cargo/config.toml
  user/apps/test-for-robustfutex/.gitignore
  user/apps/test-for-robustfutex/Cargo.toml
  user/apps/test-for-robustfutex/Makefile
  user/apps/test-for-robustfutex/README.md
  user/apps/test-for-robustfutex/src/main.rs
  user/dadk/config/test_for_robustfutex_0_1_0.dadk
Labels: S-等待作者修改

#521 BlockCache支持
  kernel/src/driver/base/block/block_device.rs
  kernel/src/driver/base/block/mod.rs
  kernel/src/driver/block/cache/cache_block.rs
  kernel/src/driver/block/cache/cache_iter.rs
  kernel/src/driver/block/cache/cached_block_device.rs
  kernel/src/driver/block/cache/mod.rs
  kernel/src/driver/block/mod.rs
  kernel/src/driver/disk/ahci/ahcidisk.rs
  kernel/src/driver/disk/ahci/mod.rs
  kernel/src/driver/mod.rs
  kernel/src/filesystem/fat/bpb.rs
  kernel/src/filesystem/fat/fs.rs
  user/apps/test-blockcache/.cargo/config.toml
  user/apps/test-blockcache/.gitignore
  user/apps/test-blockcache/Cargo.toml
  user/apps/test-blockcache/Makefile
  user/apps/test-blockcache/README.md
  user/apps/test-blockcache/src/main.rs
  user/dadk/config/test_blockcache_0_1_0.dadk
Labels: S-等待审查, O-x86_64, A-fs, T-driver

#690 实现SystemV共享内存
  kernel/src/arch/x86_64/mm/mod.rs
  kernel/src/driver/disk/ahci/ahci_inode.rs
  kernel/src/driver/input/ps2_mouse/ps_mouse_device.rs
  kernel/src/driver/keyboard/ps2_keyboard.rs
  kernel/src/driver/net/dma.rs
  kernel/src/driver/rtc/class.rs
  kernel/src/driver/rtc/mod.rs
  kernel/src/driver/virtio/virtio_impl.rs
  kernel/src/filesystem/devfs/mod.rs
  kernel/src/filesystem/devfs/null_dev.rs
  kernel/src/filesystem/devfs/zero_dev.rs
  kernel/src/filesystem/devpts/mod.rs
  kernel/src/filesystem/fat/fs.rs
  kernel/src/filesystem/kernfs/mod.rs
  kernel/src/filesystem/procfs/log.rs
  kernel/src/filesystem/procfs/mod.rs
  kernel/src/filesystem/ramfs/mod.rs
  kernel/src/filesystem/vfs/mod.rs
  kernel/src/filesystem/vfs/syscall.rs
  kernel/src/ipc/mod.rs
  kernel/src/ipc/pipe.rs
  kernel/src/ipc/shm.rs
  kernel/src/ipc/syscall.rs
  kernel/src/libs/futex/futex.rs
  kernel/src/libs/futex/syscall.rs
  kernel/src/libs/printk.rs
  kernel/src/mm/allocator/page_frame.rs
  kernel/src/mm/init.rs
  kernel/src/mm/page.rs
  kernel/src/mm/syscall.rs
  kernel/src/mm/ucontext.rs
  kernel/src/net/event_poll/mod.rs
  kernel/src/net/event_poll/syscall.rs
  kernel/src/process/resource.rs
  kernel/src/syscall/mod.rs
  kernel/src/time/mod.rs
  kernel/src/time/sleep.rs
  kernel/src/time/syscall.rs
  kernel/src/time/timekeep.rs
  kernel/src/time/timekeeping.rs
  kernel/src/virt/kvm/kvm_dev.rs
  kernel/src/virt/kvm/vcpu_dev.rs
  kernel/src/virt/kvm/vm_dev.rs
  user/apps/test_shm/.gitignore
  user/apps/test_shm/Makefile
  user/apps/test_shm/receiver.c
  user/apps/test_shm/sender.c
  user/apps/test_shm/test_info.c
  user/dadk/config/test_shm-0.1.0.dadk
Labels: S-等待审查, O-x86_64, A-fs, T-virtulization, T-driver

#706 添加mmap对MAP_FIXED的处理
  kernel/src/mm/ucontext.rs
Labels: S-等待审查

#712 add xuzihao
  docs/community/ChangeLog/V0.1.x/V0.1.9.md
Labels: S-等待审查, T-doc

#713 chore(tools): add bootstrap support for Centos/RHEL8/fedora
  tools/bootstrap.sh
  tools/grub_auto_install.sh
Labels: S-等待审查

#708 完善pty，目前pty能够支持ssh
  kernel/src/driver/tty/pty/unix98pty.rs
  kernel/src/driver/tty/termios.rs
  kernel/src/driver/tty/tty_core.rs
  kernel/src/driver/tty/tty_device.rs
  kernel/src/driver/tty/tty_driver.rs
  kernel/src/driver/tty/tty_ldisc/ntty.rs
  kernel/src/driver/tty/virtual_terminal/mod.rs
  kernel/src/filesystem/vfs/file.rs
  kernel/src/filesystem/vfs/syscall.rs
Labels: S-等待审查, A-fs, T-driver

#711 bugfix: 修复smp启动的时候，损坏0号核心的idle进程的内核栈的问题
  kernel/src/arch/x86_64/asm/apu_boot.S
  kernel/src/arch/x86_64/asm/head.S
  kernel/src/arch/x86_64/include/asm/apu_boot.h
  kernel/src/arch/x86_64/interrupt/trap.rs
  kernel/src/arch/x86_64/process/mod.rs
  kernel/src/arch/x86_64/smp/mod.rs
  kernel/src/init/initial_kthread.rs
  kernel/src/ipc/pipe.rs
  kernel/src/libs/lib_ui/textui.rs
  kernel/src/libs/rwlock.rs
  kernel/src/process/mod.rs
  kernel/src/sched/mod.rs
  kernel/src/smp/cpu/mod.rs
  kernel/src/time/timer.rs
Labels: S-等待审查, O-x86_64

#716 初始化riscv-sbi-timer
  kernel/src/arch/riscv64/interrupt/handle.rs
  kernel/src/arch/riscv64/process/idle.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/arch/riscv64/sched.rs
  kernel/src/arch/riscv64/time.rs
  kernel/src/driver/clocksource/mod.rs
  kernel/src/driver/clocksource/timer_riscv.rs
  kernel/src/driver/irqchip/riscv_intc.rs
  kernel/src/driver/mod.rs
  kernel/src/exception/irqdata.rs
  kernel/src/exception/irqdesc.rs
  kernel/src/exception/irqdomain.rs
  kernel/src/sched/mod.rs
Labels: S-等待审查, A-driver, O-riscv64, T-driver

#717 Update DragonOS description and introduction
  README.md
  README_EN.md
  docs/introduction/index.rst
Labels: S-等待审查, T-doc, A-meta

#721 让riscv64能正常切换进程，并运行完所有的initcall
  kernel/Cargo.toml
  kernel/crates/asm_macros/Cargo.toml
  kernel/crates/asm_macros/src/lib.rs
  kernel/crates/asm_macros/src/riscv64/context.rs
  kernel/crates/asm_macros/src/riscv64/mod.rs
  kernel/crates/asm_macros/src/x86_64/mod.rs
  kernel/src/arch/riscv64/interrupt/entry.rs
  kernel/src/arch/riscv64/interrupt/handle.rs
  kernel/src/arch/riscv64/interrupt/mod.rs
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/riscv64/msi.rs
  kernel/src/arch/riscv64/pio.rs
  kernel/src/arch/riscv64/process/idle.rs
  kernel/src/arch/riscv64/process/kthread.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/driver/clocksource/timer_riscv.rs
  kernel/src/driver/input/mod.rs
  kernel/src/driver/input/serio/i8042/mod.rs
  kernel/src/driver/keyboard/mod.rs
  kernel/src/driver/serial/serial8250/mod.rs
  kernel/src/filesystem/vfs/file.rs
  kernel/src/mm/kernel_mapper.rs
  kernel/src/sched/mod.rs
Labels: S-等待审查, O-riscv64, A-fs, T-driver

#714 feat(net): 实现tcp backlog功能
  kernel/src/filesystem/ramfs/mod.rs
  kernel/src/filesystem/vfs/core.rs
  kernel/src/net/net_core.rs
  kernel/src/net/socket/inet.rs
  kernel/src/net/socket/mod.rs
  kernel/src/syscall/mod.rs
  user/apps/http_server/main.c
  user/apps/test-backlog/.cargo/config.toml
  user/apps/test-backlog/.gitignore
  user/apps/test-backlog/Cargo.toml
  user/apps/test-backlog/Makefile
  user/apps/test-backlog/README.md
  user/apps/test-backlog/src/main.rs
  user/dadk/config/test_backlog_0_1_0.dadk
Labels: S-等待审查, A-fs, A-network

#683 feat(mm): 添加slab内存分配器
  kernel/Cargo.toml
  kernel/crates/rust-slabmalloc/Cargo.toml
  kernel/crates/rust-slabmalloc/src/lib.rs
  kernel/crates/rust-slabmalloc/src/pages.rs
  kernel/crates/rust-slabmalloc/src/sc.rs
  kernel/crates/rust-slabmalloc/src/zone.rs
  kernel/src/mm/allocator/kernel_allocator.rs
  kernel/src/mm/allocator/slab.rs
  kernel/src/mm/init.rs
Labels: S-等待作者修改, A-mm

#719 feat(filesystem): 引入Umount系统调用
  README.md
  README_EN.md
  docs/kernel/libs/lib_ui/scm.md
  kernel/src/arch/x86_64/kvm/mod.rs
  kernel/src/arch/x86_64/kvm/vmx/ept.rs
  kernel/src/arch/x86_64/kvm/vmx/vcpu.rs
  kernel/src/driver/acpi/sysfs.rs
  kernel/src/driver/base/device/bus.rs
  kernel/src/driver/base/device/dd.rs
  kernel/src/driver/base/device/mod.rs
  kernel/src/driver/base/kobject.rs
  kernel/src/driver/base/subsys.rs
  kernel/src/driver/disk/ahci/ahci_inode.rs
  kernel/src/driver/input/ps2_mouse/ps_mouse_device.rs
  kernel/src/driver/keyboard/ps2_keyboard.rs
  kernel/src/filesystem/devfs/mod.rs
  kernel/src/filesystem/devfs/null_dev.rs
  kernel/src/filesystem/devfs/zero_dev.rs
  kernel/src/filesystem/devpts/mod.rs
  kernel/src/filesystem/fat/fs.rs
  kernel/src/filesystem/kernfs/callback.rs
  kernel/src/filesystem/kernfs/mod.rs
  kernel/src/filesystem/procfs/mod.rs
  kernel/src/filesystem/ramfs/mod.rs
  kernel/src/filesystem/sysfs/mod.rs
  kernel/src/filesystem/vfs/core.rs
  kernel/src/filesystem/vfs/file.rs
  kernel/src/filesystem/vfs/mod.rs
  kernel/src/filesystem/vfs/mount.rs
  kernel/src/filesystem/vfs/syscall.rs
  kernel/src/filesystem/vfs/utils.rs
  kernel/src/ipc/pipe.rs
  kernel/src/ipc/signal.rs
  kernel/src/ipc/syscall.rs
  kernel/src/libs/lib_ui/screen_manager.rs
  kernel/src/mm/syscall.rs
  kernel/src/mm/ucontext.rs
  kernel/src/syscall/mod.rs
  kernel/src/time/clocksource.rs
  kernel/src/virt/kvm/kvm_dev.rs
  kernel/src/virt/kvm/vcpu_dev.rs
  kernel/src/virt/kvm/vm_dev.rs
  user/apps/test_ramfs/.gitignore
  user/apps/test_ramfs/Makefile
  user/apps/test_ramfs/main.c
  user/dadk/config/test_ramfs-0.1.0.dadk
Labels: S-等待审查, O-x86_64, A-fs, A-meta, T-virtulization, T-driver

#725 doc: Update build instructions for riscv64 architecture
  docs/introduction/build_system.md
Labels: S-等待审查, T-doc

#730 socket统一改用`GlobalSocketHandle`,并且修复fcntl SETFD的错误
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/filesystem/vfs/syscall.rs
  kernel/src/net/net_core.rs
  kernel/src/net/socket/handle.rs
  kernel/src/net/socket/inet.rs
  kernel/src/net/socket/mod.rs
  kernel/src/net/socket/unix.rs
  kernel/src/net/syscall.rs
Labels: S-等待审查, O-x86_64, A-fs

#710 feat: sys_alarm第二版
  kernel/src/ipc/signal_types.rs
  kernel/src/process/mod.rs
  kernel/src/process/timer.rs
  kernel/src/syscall/mod.rs
  kernel/src/syscall/syscall_num.h
  kernel/src/time/syscall.rs
  kernel/src/time/timer.rs
  user/apps/test_alarm/.cargo/config.toml
  user/apps/test_alarm/.gitignore
  user/apps/test_alarm/Cargo.toml
  user/apps/test_alarm/Makefile
  user/apps/test_alarm/README.md
  user/apps/test_alarm/src/main.rs
  user/dadk/config/test_alarm_0_1_0.dadk
Labels: S-等待审查

#734 删除无用的hid代码
  kernel/src/driver/Makefile
  kernel/src/driver/hid/Makefile
  kernel/src/driver/hid/hidparse.c
  kernel/src/driver/hid/hidstrings.c
  kernel/src/driver/hid/internal.h
  kernel/src/driver/hid/usbhid/Makefile
  user/services/shell.service
Labels: S-等待审查, T-driver

#735 Feat(tty): add dummy console
  kernel/src/driver/tty/termios.rs
  kernel/src/driver/tty/tty_port.rs
  kernel/src/driver/tty/virtual_terminal/mod.rs
  kernel/src/driver/tty/virtual_terminal/virtual_console.rs
  kernel/src/driver/video/console/dummycon.rs
  kernel/src/driver/video/console/mod.rs
  kernel/src/driver/video/fbdev/base/fbcon/framebuffer_console.rs
  kernel/src/driver/video/mod.rs
  kernel/src/init/initial_kthread.rs
Labels: S-等待审查, T-driver

#744 pci: 统一使用ecam root
  kernel/src/arch/riscv64/pci/mod.rs
  kernel/src/arch/x86_64/pci/pci.rs
  kernel/src/driver/pci/pci.rs
  kernel/src/driver/pci/pci_irq.rs
  kernel/src/driver/virtio/transport_pci.rs
Labels: S-等待审查, O-x86_64, O-riscv64, T-driver

#745 pci: 添加pci root manager来管理pci root，并使得riscv能够正常扫描pci设备.
  kernel/src/arch/mod.rs
  kernel/src/arch/riscv64/pci/mod.rs
  kernel/src/arch/riscv64/pci/pci_host_ecam.rs
  kernel/src/arch/x86_64/init/mod.rs
  kernel/src/arch/x86_64/pci/pci.rs
  kernel/src/driver/net/e1000e/e1000e.rs
  kernel/src/driver/open_firmware/fdt.rs
  kernel/src/driver/pci/ecam.rs
  kernel/src/driver/pci/mod.rs
  kernel/src/driver/pci/pci.rs
  kernel/src/driver/pci/pci_irq.rs
  kernel/src/driver/pci/root.rs
  kernel/src/driver/virtio/transport_pci.rs
  kernel/src/mm/mmio_buddy.rs
  kernel/src/mm/page.rs
  kernel/src/syscall/mod.rs
Labels: S-等待审查, O-x86_64, O-riscv64, T-driver

#740 将smoltcp升级到0.11.0版本
  kernel/Cargo.toml
  kernel/src/driver/net/e1000e/e1000e_driver.rs
  kernel/src/driver/net/virtio_net.rs
  kernel/src/net/socket/inet.rs
  kernel/src/time/mod.rs
Labels: T-driver

#747 fix: 修复unified-init导致cargo check失败的问题
  kernel/crates/unified-init/src/main.rs
Labels: S-等待审查

#748 chore: Update virtio-drivers to commit 61ece509c4
  kernel/Cargo.toml
  kernel/src/driver/virtio/transport_pci.rs
Labels: S-等待审查, T-driver

#739 feat(net): 实现raw socket的poll
  kernel/src/net/socket/mod.rs
Labels: S-等待审查

#715 feat(mm): 实现缺页中断处理
  kernel/crates/klog_types/src/lib.rs
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/x86_64/interrupt/trap.rs
  kernel/src/arch/x86_64/mm/fault.rs
  kernel/src/arch/x86_64/mm/mod.rs
  kernel/src/arch/x86_64/mm/pkru.rs
  kernel/src/arch/x86_64/process/syscall.rs
  kernel/src/libs/elf.rs
  kernel/src/mm/fault.rs
  kernel/src/mm/madvise.rs
  kernel/src/mm/mod.rs
  kernel/src/mm/page.rs
  kernel/src/mm/syscall.rs
  kernel/src/mm/ucontext.rs
  kernel/src/syscall/mod.rs
  user/dadk/config/nova_shell-0.1.0.dadk
Labels: S-等待审查, A-mm, O-x86_64, O-riscv64

#752 feat(driver): 把virtio添加到sysfs
  kernel/src/arch/x86_64/driver/apic/x2apic.rs
  kernel/src/driver/base/device/bus.rs
  kernel/src/driver/base/device/dd.rs
  kernel/src/driver/base/device/driver.rs
  kernel/src/driver/base/subsys.rs
  kernel/src/driver/net/e1000e/e1000e_driver.rs
  kernel/src/driver/net/mod.rs
  kernel/src/driver/net/virtio_net.rs
  kernel/src/driver/pci/pci.rs
  kernel/src/driver/serial/serial8250/mod.rs
  kernel/src/driver/virtio/mmio.rs
  kernel/src/driver/virtio/mod.rs
  kernel/src/driver/virtio/sysfs.rs
  kernel/src/driver/virtio/transport.rs
  kernel/src/driver/virtio/transport_pci.rs
  kernel/src/driver/virtio/virtio.rs
  kernel/src/filesystem/sysfs/mod.rs
  kernel/src/net/mod.rs
  kernel/src/net/net_core.rs
  kernel/src/net/socket/inet.rs
  tools/run-qemu.sh
Labels: enhancement, S-等待审查, A-driver, O-x86_64, A-fs, T-driver

#753 fix(dog): 添加CC环境变量，解决编译时找不到musl-gcc的问题
  user/apps/test-backlog/Makefile
Labels: Bug fix, S-等待审查

#754 docs(community): add description of conventional commit standard
  docs/community/code_contribution/conventional-commit.md
  docs/community/code_contribution/index.rst
Labels: documentation, S-等待审查, T-doc

#761 feat(virtio): riscv: 添加virtio-blk driver,并在riscv下能够正确挂载FAT32
  kernel/Cargo.toml
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/riscv64/pci/mod.rs
  kernel/src/driver/base/device/dd.rs
  kernel/src/driver/base/device/mod.rs
  kernel/src/driver/block/mod.rs
  kernel/src/driver/block/virtio_blk.rs
  kernel/src/driver/disk/ahci/ahcidisk.rs
  kernel/src/driver/input/serio/serio_driver.rs
  kernel/src/driver/net/virtio_net.rs
  kernel/src/driver/open_firmware/fdt.rs
  kernel/src/driver/timers/mod.rs
  kernel/src/driver/virtio/mmio.rs
  kernel/src/driver/virtio/mod.rs
  kernel/src/driver/virtio/transport.rs
  kernel/src/driver/virtio/transport_mmio.rs
  kernel/src/driver/virtio/virtio.rs
  kernel/src/driver/virtio/virtio_impl.rs
  kernel/src/filesystem/mbr.rs
  kernel/src/filesystem/vfs/core.rs
  kernel/src/init/init.rs
  kernel/src/init/initial_kthread.rs
  kernel/src/libs/printk.rs
  kernel/src/mm/mmio_buddy.rs
  kernel/src/mm/page.rs
  kernel/src/syscall/mod.rs
  tools/run-qemu.sh
Labels: enhancement, S-等待审查, O-riscv64, A-fs, T-driver

#763 chore: Create FUNDING.yml
  .github/FUNDING.yml
Labels: S-等待审查

#755 feat(fs): add sys_dup3
  kernel/src/filesystem/vfs/syscall.rs
  kernel/src/syscall/mod.rs
  user/apps/test_dup3/.gitignore
  user/apps/test_dup3/Makefile
  user/apps/test_dup3/main.c
  user/dadk/config/test_dup3_0_1_0.dadk
Labels: enhancement, S-等待审查, A-fs

#770 feat(riscv): riscv下能够运行hello world用户程序
  kernel/Cargo.toml
  kernel/src/arch/riscv64/driver/of.rs
  kernel/src/arch/riscv64/init/mod.rs
  kernel/src/arch/riscv64/interrupt/entry.rs
  kernel/src/arch/riscv64/interrupt/handle.rs
  kernel/src/arch/riscv64/mm/init.rs
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/riscv64/process/idle.rs
  kernel/src/arch/riscv64/process/kthread.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/arch/riscv64/process/syscall.rs
  kernel/src/arch/riscv64/syscall/mod.rs
  kernel/src/arch/riscv64/time.rs
  kernel/src/arch/x86_64/mm/mod.rs
  kernel/src/driver/Makefile
  kernel/src/driver/clocksource/timer_riscv.rs
  kernel/src/driver/disk/Makefile
  kernel/src/driver/firmware/efi/esrt.rs
  kernel/src/driver/firmware/efi/guid.rs
  kernel/src/driver/firmware/efi/init.rs
  kernel/src/driver/firmware/efi/mod.rs
  kernel/src/driver/firmware/efi/tables.rs
  kernel/src/driver/irqchip/riscv_intc.rs
  kernel/src/driver/timers/Makefile
  kernel/src/init/initial_kthread.rs
  kernel/src/lib.rs
  kernel/src/libs/elf.rs
  kernel/src/mm/allocator/page_frame.rs
  kernel/src/mm/kernel_mapper.rs
  kernel/src/mm/memblock.rs
  kernel/src/mm/mod.rs
  kernel/src/mm/page.rs
  kernel/src/process/exec.rs
Labels: enhancement, S-等待审查, O-x86_64, O-riscv64, T-driver

#766 feat(sched): add sched_yield
  kernel/src/sched/mod.rs
  kernel/src/sched/syscall.rs
  kernel/src/syscall/mod.rs
Labels: enhancement, S-等待作者修改

#773 refactor(process): 调整arch_switch_to_user函数，把riscv和x86_64的共用逻辑抽取出来。
  kernel/src/arch/riscv64/mm/mod.rs
  kernel/src/arch/riscv64/process/idle.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/arch/riscv64/process/syscall.rs
  kernel/src/arch/riscv64/syscall/mod.rs
  kernel/src/arch/x86_64/process/mod.rs
  kernel/src/arch/x86_64/process/syscall.rs
  kernel/src/arch/x86_64/syscall/mod.rs
  kernel/src/init/initial_kthread.rs
Labels: S-等待审查, O-x86_64, O-riscv64, A-process

#772 feat(driver/acpi_pm): Implement ACPI PM Timer
  kernel/src/arch/x86_64/acpi.rs
  kernel/src/arch/x86_64/driver/hpet.rs
  kernel/src/arch/x86_64/driver/tsc.rs
  kernel/src/arch/x86_64/init/mod.rs
  kernel/src/driver/acpi/pmtmr.rs
  kernel/src/driver/clocksource/acpi_pm.rs
  kernel/src/driver/clocksource/mod.rs
  kernel/src/driver/pci/pci.rs
  kernel/src/sched/mod.rs
  kernel/src/time/clocksource.rs
  kernel/src/time/jiffies.rs
  kernel/src/time/mod.rs
Labels: enhancement, S-等待审查, O-x86_64, O-riscv64, T-driver

#779 fix(libs/lib_ui): fix the display errors when system initialize
  kernel/src/libs/lib_ui/textui.rs
Labels: S-等待审查

#780 fix(riscv/process): 把riscv的调度时钟节拍率与HZ同步，并且修复切换到用户态的时候忘了在内核态关中断的bug
  kernel/src/arch/riscv64/asm/csr.rs
  kernel/src/arch/riscv64/cpu.rs
  kernel/src/arch/riscv64/process/mod.rs
  kernel/src/arch/riscv64/process/syscall.rs
  kernel/src/arch/riscv64/smp/mod.rs
  kernel/src/driver/acpi/pmtmr.rs
  kernel/src/driver/clocksource/acpi_pm.rs
  kernel/src/driver/clocksource/timer_riscv.rs
  kernel/src/driver/disk/mod.rs
  kernel/src/filesystem/vfs/core.rs
  kernel/src/init/initial_kthread.rs
Labels: S-等待审查, O-riscv64, A-fs, A-process, T-driver

#784 ci: update the match regex of issue checker
  .github/issue-checker.yml
Labels: S-等待审查

#783 fix: (riscv/timer): 修复riscv下没有更新墙上时钟以及没有处理软中断的bug
  kernel/src/arch/x86_64/driver/hpet.rs
  kernel/src/driver/clocksource/timer_riscv.rs
  kernel/src/driver/irqchip/riscv_intc.rs
  kernel/src/time/timer.rs
Labels: Bug fix, S-等待审查, A-driver, O-x86_64, O-riscv64, T-driver, A-irq

#768 feat(mm): add slab usage calculation
  kernel/crates/rust-slabmalloc/src/zone.rs
  kernel/src/mm/allocator/slab.rs
  kernel/src/syscall/misc.rs
  user/apps/test-backlog/Makefile
Labels: enhancement, S-等待审查

#793 feat(bitmap): Add bit and for AllocBitMap
  kernel/crates/bitmap/src/alloc_bitmap.rs
  kernel/crates/bitmap/tests/alloc-bitmap.rs
  kernel/src/libs/cpumask.rs
Labels: enhancement, S-等待审查
